@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

body.body {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: normal;
  color: #989899;
  background-color: #fff;
  font-size: 1.6rem;
}

.btn {
  font-size: 13px;
  border-radius: 0;
  font-weight: 500;
  z-index: 1;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
  text-transform: uppercase;
  background-color: $color-light-grey;

  &-primary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
      background-color: rgba($color-primary, 0.8);
    }
  }

  &-warning {
    background-color: $color-yellow;
    border-color: $color-yellow;

    &:hover {
      background-color: rgba($color-yellow, 0.8);
    }
  }

  &-success {
    background-color: $color-green;
    border-color: $color-green;

    &:hover {
      background-color: rgba($color-green, 0.8);
    }
  }

  & a {
    color: $color-white;
  }
}

.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  background-position-x: 0%;
  background-position-y: 0%;
  background-image: none;
  background-size: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;

  &-img-overlay {
    padding: 70px;
    max-width: 440px;
    margin: 0 auto;
  }

  &-title {
    color: #fff !important;
    font-weight: 400;
    text-transform: uppercase;
  }

  &-text {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
    padding-bottom: 1.5rem;
    width: 100%;
  }
}
